@import "tailwindcss";


body{
  background: linear-gradient(135deg, #d6dddd, #c3d2f2);
}

.active hr{
  @apply block;
}

@media (max-width:740px){
  .active p{
    color: white;
    background-color: #1d4ed8;
  }
}

::-webkit-scrollbar{
  display: none;
}
